mat-form-field{
    padding: 5px;
}
.right-btn
    {
        position: relative;
        right: 0px;
        left: 80%;
    }
.float-right{
float: right;
    }
table{
     width :100%;   
}
mat-card{
    padding-bottom: 10px !important;
}