<mat-toolbar color="primary">
  <mat-toolbar-row fxLayout="row">
    <span>signup</span>
    <span class="spacer"></span>
    <button class="mat-dialog-close" mat-icon-button mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>

  </mat-toolbar-row>
</mat-toolbar>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="signupForm">

    <div fxFlex fxLayout="column">
      <mat-form-field appearance="standard" fxFlex>
        <mat-label>Username</mat-label>
        <input matInput formControlName="username" required>
        <mat-error *ngIf="signupForm.controls.touched && signupForm.controls.username.invalid">
          <span *ngIf="signupForm.controls.username.errors.required">This field is mandatory</span>
          <span *ngIf="signupForm.controls.username.errors.pattern">This field is mandatory</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="standard" fxFlex>
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" required>
        <mat-error *ngIf="signupForm.controls.touched && signupForm.controls.email.invalid">
          <span *ngIf="signupForm.controls.email.errors.required">This field is mandatory</span>
          <span *ngIf="signupForm.controls.email.errors.pattern">This field is mandatory</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="standard" fxFlex>
        <mat-label>Password</mat-label>
          <input matInput formControlName="password" type ="password" required [type]="hide ? 'password' : 'text'">
                    <button type="button" mat-icon-button mathSuffix (click)="hide=!hide" [attr.aria-label]="'Hide password'"[attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' :'visibility'}}</mat-icon>
                    </button>
        <mat-error *ngIf="signupForm.controls.touched && signupForm.controls.password.invalid">
          <span *ngIf="signupForm.controls.password.errors.required">This field is mandatory</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="standard" fxFlex>
        <mat-label>Confirm Password</mat-label>
          <input matInput formControlName="confirmPassword" type ="password" required [type]="hide ? 'password' : 'text'">
                    <button type="button" mat-icon-button mathSuffix (click)="hide=!hide" [attr.aria-label]="'Hide password'"[attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' :'visibility'}}</mat-icon>
                    </button>
        <mat-error *ngIf="signupForm.controls.confirmPassword.touched && signupForm.controls.confirmPassword.invalid">
          <span *ngIf="signupForm.controls.confirmPassword.errors.required">This field is mandatory</span>
        </mat-error>
      </mat-form-field>
        
        <mat-hint *ngIf="validateSubmit() && !(signupForm.controls.confirmPassword.invalid)">
          <span>New Password & confirmPassword does not match.</span>
        </mat-hint>
      
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button color="primary" type="submit" (click)="handleSubmit()"
    [disabled]="validateSubmit() || !(signupForm.valid && signupForm.dirty)">
    <mat-icon>save</mat-icon> signup
  </button>
  <button mat-raised-button color="warn" mat-dialog-close><mat-icon>cancel</mat-icon>Close</button>
</mat-dialog-actions>